@use "../../assets/styles/gVariables" as var;
@use "../../assets/styles/_gMixins/layouts.scss" as layout;

$border-radius: 8px;

.card {
  height: 300px;
  width: 150px;
  border-radius: $border-radius;
  overflow: hidden;

   &__details {
    padding: var.$default-measure;

    &-title {
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: var.$lightBlue;
      }
    }

    &-description {
      color: var.$grey;
    }
  }
}

.image {
    display: block;
    height: 70%;
    img {
        width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius;
    }
}
