@use "../../../assets/styles/_gMixins/layouts.scss" as layout;

.cardList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @include layout.sm {
    grid-template-columns: repeat(3, 1fr);
  }

  @include layout.md {
   grid-template-columns: repeat(4, 1fr);
  }

  @include layout.lg {
    grid-template-columns: repeat(5, 1fr);
   }


}
