@use "../../assets/styles/gVariables" as var;

.search {
  display: flex;
  position: relative;
  width: 100%;
  border: 1px solid var.$primary;
  padding: var.$default-measure;
  border-radius: 30px;
  max-height: 51px;

  input {
    width: 100%;
    outline: none;
  }
}
